* {
	margin: 0px;
}


.box {
	margin-left: 50px;
	margin-top: 50px;
	border-width: 2px;
}

.heading {
	margin-bottom: 30px;
}

.input_fields {
	margin-bottom: 10px;
}

.field {
	margin-bottom: 10px;
}

.submit_button {
	width: 150px;
	height: 40px;
	background-color: #525252;
	color: white;
	border: 0px;
	border-radius: 5px;
}